@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Bootstrap Icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
   <!-- SimpleLightbox plugin CSS-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="~/css_/styles.css" rel="stylesheet" />
}

<body>
    <header class="masthead">
        <div class="container px-4 px-lg-5 h-100">
            <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
                <div class="col-lg-8 align-self-end">
                    <h1 class="text-white font-weight-bold">Personal Saving</h1>
                    <hr class="divider" />
                </div>
                <div class="col-lg-8 align-self-baseline">
                    <p class="text-white-75 mb-5">¡Tu compañero ideal para gestionar tus finanzas!</p>
                    <a class="btn btn-primary btn-xl" href="#about">Descubre más</a>
                </div>
            </div>
        </div>
    </header>
    <!-- Sobre Nosotros-->
    <section class="page-section bg-primary" id="about">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-lg-8 text-center">
                    <h2 class="text-white mt-0">¡Te ayudamos a reflexionar y administrar tu dinero!</h2>
                    <hr class="divider divider-light" />
                    <p class="text-white-75 mb-4">Personal Saving ofrece herramientas intuitivas y recursos gratuitos para mejorar tu gestión financiera. ¡Empieza hoy mismo sin complicaciones!</p>
                    <a class="btn btn-light btn-xl" href="#services">¡Comienza ahora!</a>
                </div>
            </div>
        </div>
    </section>
    <!-- Servicios-->
    <section class="page-section" id="services">
        <div class="container px-4 px-lg-5">
            <h2 class="text-center mt-0">Nuestros Servicios</h2>
            <hr class="divider" />
            <div class="row gx-4 gx-lg-5">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="mt-5">
                        <div class="mb-2"><i class="bi-gem fs-1 text-primary"></i></div>
                        <h3 class="h4 mb-2">Temas Sólidos</h3>
                        <p class="text-muted mb-0">Nuestras guías y libros se actualizan regularmente</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="mt-5">
                        <div class="mb-2"><i class="bi-laptop fs-1 text-primary"></i></div>
                        <h3 class="h4 mb-2">Multiplataforma</h3>
                            <p class="text-muted mb-0">Puedes acceder al sitio desde cualquier dispositivo</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                 <div class="mt-5">
                        <div class="mb-2"><i class="bi-laptop fs-1 text-primary"></i></div>
                        <h3 class="h4 mb-2">Seguridad y soporte</h3>
                            <p class="text-muted mb-0">Todas las dependencias se mantienen actualizadas para que todo funcione perfectamente.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="mt-5">
                        <div class="mb-2"><i class="bi-heart fs-1 text-primary"></i></div>
                        <h3 class="h4 mb-2">Bienestar</h3>
                        <p class="text-muted mb-0">Nuestro objetivo es ayudar a nuestros clientes a mejorar su calidad de vida a través de una buena gestión financiera.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
   <!--  PORTAFOLIO IMG  -->
   
    <!-- Footer-->
    <footer class="bg-light py-5">
        <div class="container px-4 px-lg-5"><div class="small text-center text-muted">Copyright &copy; 2024 - Personal Saving</div></div>
    </footer>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- SimpleLightbox plugin JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.js"></script>
    <!-- Core theme JS-->
    <script src="~/js_/scripts.js"></script>
    <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
    <!-- * *                               SB Forms JS                               * *-->
    <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
    <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
    <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
</body>
